<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/reg.css" rel="stylesheet">

</head>
<body>
<div class="registered">
    <div class="panel panel-info registered">
        <div class="panel-heading">资产管理系统注册</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group">
                    <label :class="{ err: (ed.posi==='') }" for="posi">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 职位
                    </label>
                    <input type="text" class="form-control" id="posi" placeholder="请输入您的用户名" v-model="ed.posi">
                </div>
                <div class="form-group">
                    <label :class="{ err: (ed.name==='') }" for="name">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 昵称
                    </label>
                    <input type="text" class="form-control" id="name" placeholder="请再次输入密码" v-model="ed.name"/>
                </div>
                <div class="form-group">
                    <label :class="{ err: (ed.user==='') }" for="user">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户名
                    </label>
                    <input type="text" class="form-control" id="user" placeholder="请输入您的用户名" v-model="ed.user">
                </div>
                <div class="form-group">
                    <label :class="{ err: (ed.passwd==='') }" for="passwd">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 密码
                    </label>
                    <input type="password" class="form-control" id="passwd" placeholder="请输入您的密码" v-model="ed.passwd">
                </div>
                <div class="form-group">
                    <label :class="{ err: (ed.status==='') }" for="status">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 状态
                    </label>
                    <input type="text" class="form-control" id="status" placeholder="请输入您的密码" v-model="ed.status">
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-right: 100px" class="btn btn-primary" @click="save()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/vue/vue.js"></script>
<script src="js/reg.js"></script>
<script src="plugins/layer/layer.js"></script>

</body>
</html>